<h1>Home Page</h1>

<div>
<% if user_signed_in? %>
Welcome <%= current_user.email %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Create new user', new_user_registration_path %>
<%= link_to 'Login', user_session_path %>
<% end %>
</div>